<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Store</a>
        </li>
    </ul>
    <ul class="nav navbar-nav flex-row-reverse">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/signup']">Sign Up</a>
        </li>
    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>